# Python basics
Here are some of the most basis on list and dictionaries on how to create them and loop inside it.
Most of materials came from [datastructures python introduction](https://docs.python.org/3/tutorial/datastructures.html).
## List
### List initialization

In [1]:
l = [None] * 10
l

[None, None, None, None, None, None, None, None, None, None]

In [2]:
l = range(10)
l = list(l)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List comprehension

In [3]:
a = [x**2 for x in range(10)]
b = [x**2 for x in l]

[a, b]

[[0, 1, 4, 9, 16, 25, 36, 49, 64, 81], [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]]

#### Filter a list

In [4]:
filteredList = [ x for x in l if( x % 2 == 0 )]
filteredList

[0, 2, 4, 6, 8]

#### Multi dimension list

In [5]:
[(x, y) for x in [1,2,3] for y in [3,1,4]]

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [6]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

#### Defined condition function

In [7]:
def condition(x, y):
    return x != y

[(x, y) for x in [1,2,3] for y in [3,1,4] if condition(x, y)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

#### Nested List Comprehensions

In [8]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

# Transpose matrix
transposedMatrix = [[row[i] for row in matrix] for i in range(4)]

transposedMatrix

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## Tuples

In [9]:
t = (1, 2, (3, 4))
# takes 3
t[2][0]

3

## Set
### Set comprehension

In [10]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Map functions
### anonymous function

In [11]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
squares = list(map(lambda x: x**2, [1,3,5,7,9]))
squares

[1, 9, 25, 49, 81]

In [13]:
l = [1,3,5,7,9]
squares = list(map(lambda x: x**2, l))
squares

[1, 9, 25, 49, 81]

### Using a defined function

In [14]:
def toThePow2(x):
    return x**2

l = [1,3,5,7,9]
squares = list(map(lambda x: toThePow2(x), l))
squares

[1, 9, 25, 49, 81]

## Dictionaries aka Map

In [15]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

phonebook

{'Jack': 938377264, 'Jill': 947662781, 'John': 938477566}

## Looping techniques

In [16]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

## Sequences comparaison

In [17]:
(1, 2, 3, 4) < (1, 2, 4)

True